body {
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.calculator {
    width: 250px;
    height: 350px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}