body {
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.calculator {
    background: rgb(94, 93, 93);
    width: 250px;
    height: 350px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 57px;
    gap: 2px;
}
.screen {
    background: white;
    width: 238px;
    height: 50px;
    border: 1px solid black;
    border-radius: 5px;
}
button {
    height: 55px;
    width: 58px;
    background-color: lightblue;
    border-radius: 5px;
    border: 1px solid black;
}
#zero {
    width: 178px;
}
#AC {
    background: rgb(247, 194, 96);
    width: 178px;
}
#equals {
    background: rgb(236, 128, 128);
}
#operator {
    background: rgb(131, 218, 131);
}